.server-list {
    width: 73px;
    height: 100vh;
    overflow: visible;




    display: flex;
    background-color: #202225;

    flex-direction: column;
    align-content: flex-end;

    margin: 0;
    flex-grow: 0;
    flex-shrink: 0;

}
@keyframes serverHover {
    0%{
        border-radius: 50%;
        }
    30%{
        border-radius: 13px;
        }
    60%{
        border-radius: 16px;
        }
    100%{
        border-radius: 14px;
        }
}
.server-list::-webkit-scrollbar { 
    width: 0 !important 
}
.server-list { 
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}


.server-list .server-list-header { 
    border-bottom: 1px solid white;
    width: 30px;
    display: flex;
    justify-content: center;
    margin-left: 22px;
}
.server-list .server-list-header div {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px;
    margin: 9px 5px 20px;
    background-color: #7289DA;
    border-radius: 14px;
    width: 35px;
    height: 35px;
}
.server-list .server-list-header div img{
    border-radius: 30%;
    width: 45px;
    height: 45px;
}
.server-list .server-list-header #first{
    position: relative;
    left: 23.5px;
    top: -5px;
    z-index: 4;
}   
.server-list .server-list-header #sec{
    position: relative;
    left: -22px;
    top: -5px;
    z-index: 3;
}
.server-list .server-list-header #first:hover{
    z-index: 3;
}   
.server-list .server-list-header #sec:hover{
    z-index: 4;
    animation: shake 100ms infinite 0s ease-in-out;
}









.server-list .server-list-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: visible;
    margin: 0px;
    z-index: 10;
    height: 100vh;
}
.server-list .server-list-main::-webkit-scrollbar { 
    width: 0 !important 
}
.server-list .server-list-main  { 
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.server-list .server-list-main img {
    margin: 5px 5px;
    background-color: red;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
.server-list .server-list-main img:hover{
    animation: serverHover 1s 1 0s ease;
    border-radius: 14px;
    transition-duration: 0.5s;
}


.server-list .server-list-main ul {
    list-style: none;
    padding-left: 3px;
    overflow: visible;
    /* overflow-y: scroll; */






    
    z-index: 12;
    padding-right: 50px;
    margin-top: 5px;
}
.server-list .server-list-main ul li input{
    background-color: green;
    position: absolute;
    left: -150px;
    height: 55px;
    width: 210px;
    border-radius: 50%;
}
.server-list .server-list-main ul li input:checked + div {
   border-radius: 14px;
   background-color: #7289DA;
}
.server-list .server-list-main ul li input:checked + img {
   border-radius: 14px;
}
.server-list .server-list-main ul li input:checked ~ div > .currServer {
    height: 40px;
    transition-duration: 0.3s;
}
.currServer {
    position: absolute;
    width: 10px;
    height: 0px;
    background-color: white;
    bottom: 15px;
    left: -8px;
    border-radius: 5px;
}
.server-list .server-list-main ul li {
    position: relative;
    height: 60px;
    z-index: 10;
}
.server-list .server-list-main .no-img {
    margin: 5px 5px;
    background-color: #282B30;
    border: 1px solid #202225;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    text-align: center;
    color: white;
}
.server-list .server-list-main li:hover img {
    animation: serverHover 1s 1 0s ease;
    border-radius: 14px;
    transition-duration: 0.5s;
}
.server-list .server-list-main li:hover .no-img {
    animation: serverHover 1s 1 0s ease;
    border-radius: 14px;
    background-color: #7289DA;
    transition-duration: 0.5s;
}
.server-list .server-list-main ul li .no-img p {
    margin: 0 auto;
    padding: 19px 0px;
    text-align: center;
}
.server-list .server-list-main ul li .server-li-stick {
    position: relative;
    height: 1px;
    z-index: 10;

}
.server-list .server-list-main ul li:hover .s-list-item-info{
    display: block;
    position: absolute;
}

.server-list .server-list-main .s-list-item-info {
    display: none;
    position: absolute;
    width: auto;
    bottom: 18px;
    left: 65px;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
    z-index: 10;
}
.server-list .server-list-main .s-list-item-info div {
    white-space: nowrap;
}

.server-list .server-list-main button {
    background-color: transparent;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin: 5px;
    padding: 0px;
    position: relative;
    border: 1px dashed rgba(86, 86, 86, 0.897);
    display: flex;
    outline: none;
}
.server-list .server-list-main button div {
    margin: 10px;
    width: 20px;
    height: 20px;
    font-size: 45px;
    font-weight: 200;
    line-height: 10px;
    position: absolute;
    bottom: 5px;
    left: 4px;
    color: rgba(86, 86, 86, 0.897);
    overflow: visible;
}
.server-list .server-list-main button:hover {
    transition: 0.8s;
    border: 1px dashed white;
}
.server-list .server-list-main button:hover div{
    transition: 0.8s;
    color: white;
}


@keyframes shake { 
    2% {transform:translate(.5px, 1.5px) rotate(1.5deg)} 
    4% {transform:translate(.5px, 1.5px) rotate(1.5deg)} 
    6% {transform:translate(-1.5px, -1.5px) rotate(-.5deg)} 
    8% {transform:translate(.5px, -.5px) rotate(.5deg)} 
    10% {transform:translate(.5px, 2.5px) rotate(.5deg)} 
    12% {transform:translate(2.5px, 1.5px) rotate(-.5deg)} 
    14% {transform:translate(-1.5px, 2.5px) rotate(-.5deg)} 
    16% {transform:translate(-.5px, .5px) rotate(.5deg)} 
    18% {transform:translate(.5px, 2.5px) rotate(1.5deg)} 
    20% {transform:translate(-.5px, -.5px) rotate(.5deg)} 
    22% {transform:translate(2.5px, .5px) rotate(-.5deg)} 
    24% {transform:translate(-1.5px, -1.5px) rotate(.5deg)} 
    26% {transform:translate(2.5px, -.5px) rotate(-.5deg)} 
    28% {transform:translate(1.5px, -.5px) rotate(.5deg)} 
    30% {transform:translate(.5px, .5px) rotate(-.5deg)} 
    32% {transform:translate(-1.5px, .5px) rotate(-.5deg)} 
    34% {transform:translate(.5px, 2.5px) rotate(-.5deg)} 
    36% {transform:translate(-.5px, -.5px) rotate(1.5deg)} 
    38% {transform:translate(-1.5px, -1.5px) rotate(.5deg)} 
    40% {transform:translate(-1.5px, 1.5px) rotate(1.5deg)} 
    42% {transform:translate(.5px, -1.5px) rotate(1.5deg)} 
    44% {transform:translate(.5px, .5px) rotate(.5deg)} 
    46% {transform:translate(-1.5px, -1.5px) rotate(1.5deg)} 
    48% {transform:translate(.5px, -1.5px) rotate(.5deg)} 
    50% {transform:translate(2.5px, .5px) rotate(-.5deg)} 
    52% {transform:translate(-.5px, 2.5px) rotate(-.5deg)} 
    54% {transform:translate(.5px, .5px) rotate(.5deg)} 
    56% {transform:translate(-1.5px, 2.5px) rotate(.5deg)} 
    58% {transform:translate(2.5px, .5px) rotate(.5deg)} 
    60% {transform:translate(-1.5px, 2.5px) rotate(.5deg)} 
    62% {transform:translate(1.5px, -.5px) rotate(-.5deg)} 
    64% {transform:translate(1.5px, -1.5px) rotate(1.5deg)} 
    66% {transform:translate(1.5px, -1.5px) rotate(-.5deg)} 
    68% {transform:translate(.5px, 2.5px) rotate(-.5deg)} 
    70% {transform:translate(1.5px, -1.5px) rotate(1.5deg)} 
    72% {transform:translate(1.5px, 1.5px) rotate(-.5deg)} 
    74% {transform:translate(-.5px, 1.5px) rotate(1.5deg)} 
    76% {transform:translate(1.5px, 2.5px) rotate(.5deg)} 
    78% {transform:translate(-.5px, .5px) rotate(.5deg)} 
    80% {transform:translate(-1.5px, 2.5px) rotate(.5deg)} 
    82% {transform:translate(.5px, 2.5px) rotate(-.5deg)} 
    84% {transform:translate(2.5px, -.5px) rotate(.5deg)} 
    86% {transform:translate(1.5px, .5px) rotate(.5deg)} 
    88% {transform:translate(-.5px, -1.5px) rotate(-.5deg)} 
    90% {transform:translate(1.5px, -.5px) rotate(1.5deg)} 
    92% {transform:translate(.5px, 2.5px) rotate(.5deg)} 
    94% {transform:translate(2.5px, .5px) rotate(-.5deg)} 
    96% {transform:translate(.5px, 2.5px) rotate(.5deg)} 
    98% {transform:translate(2.5px, -1.5px) rotate(1.5deg)} 
    0%,100% {transform:translate(0, 0) rotate(0)} 
}