.server-list {
    overflow-y: scroll;
    width: 120px;
    display: flex;
    background-color: #1F2225;
    flex-direction: column;
    align-items: center;
}
.server-list img {
    width: 55px;
    height: 55px;
}
@keyframes serverHover {
    0%{
        border-radius: 50%;
        }
    30%{
        border-radius: 13px;
        }
    60%{
        border-radius: 16px;
        }
    100%{
        border-radius: 14px;
        }
}
.server-list::-webkit-scrollbar { 
    width: 0 !important 
}
.server-list { 
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}


.server-list .server-list-header { 
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
}
.server-list .server-header-bg {
    background-color: #FFFFFF;
    width: 55px;
    height: 55px;
    margin: 5px 10px;
    padding: 26px;
    border-radius: 14px;
    position: relative;
    z-index: 1;

}

.server-list .server-list-header img{
    border-radius: 14px;
    width: 70px;
    height: 70px;
    overflow: visible;
    position: relative;
    z-index: 2;
}







.server-list .server-list-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.server-list .server-list-main img {
    margin: 5px 5px;
    background-color: red;
    border-radius: 50%;
}
.server-list .server-list-main img:hover{
    animation: serverHover 1s 1 0s ease;
    border-radius: 14px;
    transition-duration: 0.5s;
}