.server-header {
    width: 100%;
    padding: 10px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.2px;
}
.server-header div:first-of-type {
    margin-left: 0;
}

.server-header div:last-of-type {
    margin-right: 0; 
    color: rgb(185, 185, 185);
}