.splash-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


.splash-header {
    padding: 8px 0px;
    color: rgb(223, 223, 223);
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
}
.splash-header .main-nav {
    display: flex;
    height: 56px;
    padding: 0px 30px;
    justify-content: space-between;
    width: 1700px;
}











.left-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}
.left-nav a {
    text-decoration: none;
    color: inherit;
}
.left-nav > div {
    padding: 15px 10px;
    margin-right: 8px;
}
.left-nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left-nav .logo img:first-of-type{
    margin-top: 4px;
    width: 45px;
    height: 45px;
}
.left-nav .logo img {
    height: 16px;
    width: 100px;
}
.left-nav .pg-div {
    position: relative;
}








.left-nav .splash-dropdwn {
    display: none;
    position: absolute;
    left: -35px;
    top: 40px;
    border-radius: 10px;
    width: 160px;
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.55); */
    background-color: rgb(238, 238, 238);
    color: gray;

}
.left-nav .pg-div:hover .splash-dropdwn {
    display: block;
}
.left-nav .splash-dropdwn a {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 7px 0px;
}   
.left-nav .splash-dropdwn a:hover {
    background-color: rgb(207, 207, 207);
}











.right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;

}
.right-nav div {
    margin-left: 15px;
}
.right-nav a {
    text-decoration: none;
    color: inherit;
}













.splash-header .splash-login-button {
    border-radius: 25px;
    border: 1.5px solid rgb(175, 175, 175);
    background-color: transparent;
    margin: 7px 0px;
    color: rgb(199, 199, 199);
    padding: 6px 20px;

    line-height: 20px;
    font-family: "Helvetica Neue";
    font-weight: 350;
    font-size: 13px;

    height: 33px;
}
/* (Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif) */
.splash-header .splash-login-button:hover {
    border: 1.5px solid #D4D4D5;
    color: #D4D4D5;
}

