.splash-display {
    display: flex;
    height: 700px;
    align-items: flex-end;
    justify-content: center;
    width: 1300px;
    margin-bottom: 200px;
}
#main-comp {
    position: absolute;
    left: calc(50% - 295px);
}
#right-comp {
    position: absolute;
    z-index: 2;
    left: calc(50%);
}
#headphones {
    position: absolute;
    z-index: 5;
    padding-bottom: 166px; 
    height: 200px;
    left: calc(52% + 350px);
}
#controller{
    position: absolute;
    z-index: 4;
    left: calc(33%);
}
#right-phone{
    position: absolute;
    z-index: 3;
    left: calc(18% + 70px);
}
#left-phone{
    position: absolute;
    z-index: 3;
    left: calc(7% + 90px);
}
#flask {
    position: absolute;
    z-index: 2;
    left: calc(5% + 50px);
}
#cd {
    position: absolute;
    z-index: 1;
    left: calc(80%);
}
#coin {
    position: absolute;
    z-index: 1;
    padding-bottom: 500px; 
    left: calc(60%);
    animation: hover 5s infinite 0s linear;
}
#triangle {
    position: absolute;
    z-index: 1;
    padding-bottom: 500px; 
    left: calc(75%);
}
#bomb {
    position: absolute;
    z-index: 1;
    padding-bottom: 350px; 
    left: calc(20%);
    animation: hover 5s infinite 0.5s linear;
}

@keyframes hover{
    0%{
        transform: translateY(0);
        }
    14%{
        transform: translateY(-6px);
        }
    17%{
        transform: translateY(-7px);
        }
    19%{
        transform: translateY(-8px);
        }
    25%{
        transform: translateY(-8.5px);
        }
    31%{
        transform: translateY(-8px);
        }
    33%{
        transform: translateY(-7px);
        }
    64%{
        transform: translateY(6px);
        }
    67%{
        transform: translateY(7px);
        }
    69%{
        transform: translateY(8px);
        }
    75%{
        transform: translateY(8.5px);
        }
    81%{
        transform: translateY(8px);
        }
    83%{
        transform: translateY(7px);
        }
    100%{
        transform: translateY(0);
        }
}

