.splash-display {
    display: flex;
    height: 700px;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 1300px;
    z-index: 1;
    margin-bottom: 200px;
}
#main-comp {
    position: absolute;
    left: calc(50% - 295px);
}
#right-comp {
    position: absolute;
    z-index: 2;
    left: calc(50%);
}
#headphones {
    position: absolute;
    z-index: 5;
    padding-bottom: 166px; 
    height: 200px;
    left: calc(50% + 280px);
}
#controller{
    position: absolute;
    z-index: 4;
    left: calc(33%);
}
#right-phone{
    position: absolute;
    z-index: 3;
    left: calc(18% + 70px);
}
#left-phone{
    position: absolute;
    z-index: 3;
    left: calc(7% + 90px);
}
#flask {
    position: absolute;
    z-index: 2;
    left: calc(5% + 50px);
}
#cd {
    position: absolute;
    z-index: 1;
    left: calc(83%);
}
#right-coin {
    position: absolute;
    z-index: 1;
    padding-bottom: 520px; 
    left: calc(55%);
    animation: hover 5s infinite 0s linear;
}
#left-coin {
    position: absolute;
    z-index: 2;
    padding-bottom: 300px; 
    left: calc(20%);
    animation: hover 5s infinite 0s linear;
}
#right-triangle {
    position: absolute;
    z-index: 1;
    padding-bottom: 540px; 
    left: calc(52%);
    color: #9d9d9d;
}
#left-triangle {
    position: absolute;
    padding-bottom: 290px; 
    left: calc(10% + 10px);
}
#bomb {
    position: absolute;
    z-index: 1;
    padding-bottom: 350px; 
    left: calc(16%);
    animation: hover 5s infinite 0.5s linear;
}
#question-box {
    position: absolute;
    z-index: -1;
    left: calc(34%);
    padding-bottom: 450px; 
}
#game-cartridge {
    position: absolute;
    z-index: -1;
    left: calc(67%);
    padding-bottom: 400px; 
    animation: hover 5s infinite 0.5s linear;
}
#righttop-dot {
    position: absolute;
    padding-bottom: 570px; 
    left: 91%;
} 
#rightmid-dot {
    position: absolute;
    padding-bottom: 480px; 
    left: 63%;
}
#rightbot-dot {
    position: absolute;
    padding-bottom: 100px; 
    left: 97%;
}
#lefttop-dot {
    position: absolute;
    padding-bottom: 575px; 
    left: 26%;
}
#leftbot-dot {
    position: absolute;
    padding-bottom: 200px; 
    left: 9%;
}
#left-square {
    position: absolute;
    padding-bottom: 560px; 
    left: 73%;
}
#right-square {
    position: absolute;
    padding-bottom: 390px; 
    left: 83%;
}
#left-x {
    position: absolute;
    padding-bottom: 500px; 
    left: 10%;
}
#right-x {
    position: absolute;
    padding-bottom: 200px; 
    left: 92%;
}
#left-circle {
    position: absolute;
    padding-bottom: 520px; 
    left: 23%;
}
#right-circle {
    position: absolute;
    padding-bottom: 270px; 
    left: 94%;
}
@keyframes hover{
    0%{
        transform: translateY(0);
        }
    14%{
        transform: translateY(-6px);
        }
    17%{
        transform: translateY(-7px);
        }
    19%{
        transform: translateY(-8px);
        }
    25%{
        transform: translateY(-8.5px);
        }
    31%{
        transform: translateY(-8px);
        }
    33%{
        transform: translateY(-7px);
        }
    64%{
        transform: translateY(6px);
        }
    67%{
        transform: translateY(7px);
        }
    69%{
        transform: translateY(8px);
        }
    75%{
        transform: translateY(8.5px);
        }
    81%{
        transform: translateY(8px);
        }
    83%{
        transform: translateY(7px);
        }
    100%{
        transform: translateY(0);
        }
}

