.modal-bg {
    background-color: rgba(0, 0, 0, 0.726);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
}
.quick-switch  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-self: center;
    margin-top: 100px;
}
.quick-switch > div:first-of-type {
    color: white;
    letter-spacing: 0.3px;
    margin: 10px 0px;
}
.quick-switch > div:last-of-type{
    background-color: #2F3135;
    border-radius: 5px;
    padding: 20px;
    width: 550px;
    color: white;
}
.quick-switch > div:last-of-type input {
    outline: none;
    width: calc(100% - 20px);
    background-color: #72767C;
    border: 1px solid #72767C;
    border-radius: 5px;
    color: white;
    padding: 0px 10px;
    font-size: 22px;
    line-height: 70px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.1);
}
.hidden-button {
    visibility: hidden;
}
.qs-results-ul{
    padding: 0px;
}
.qs-channel-li {
    display: flex;
    justify-content: space-between;
}
.qs-channel-li div {
    margin: 0px;
}