.channel-type {
    padding: 28px 0px 0px;
    font-size: 11.75px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #72767d;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10px;
}
.channel-type p {
    padding-left: 0px;
    margin-bottom: 10px;
    padding-right: 70px;
}
.channel-type div:first-of-type {
    margin-right: 6px;
}
.channel-type > *:hover{
    color: white;
}



.secondary-main .channel-index {
    margin-top: 0;
    padding: 5px 10px;
}
.channel-index {
    overflow: hidden;
}
.channel-index li {
    border-radius: 5px;
    background-color: transparent;
    padding: 5px;
    margin: 2px 0px;
    color: #72767d;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.channel-index li:hover {
    background-color: #41454D;
}
.channel-index li div:first-of-type {
    margin: 0;

}
.channel-index li div:last-of-type {
    margin: 0px 5px 3px;
    font-size: 13.5px;
    font-weight: 600;
    color: rgb(221, 221, 221);
}
.upright {
    transform: rotate(0deg);
    transition-duration: 0.5s
}
.rotate {
    transform: rotate(45deg);
    transition-duration: 0.5s
}
.rotateTwo {
    transform: rotate(-90deg);
    transition-duration: 3s;
}

.show {

}
.collapse {
    height: 0px;
}
