.ch-modal {
    width: 440px;
    height: 400px;
    background-color: #36393F;
    position: relative;
    border-radius: 4px;
    top: calc(50% - 190px);
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.ch-modal > div {
    width: 440px;
}
.ch-modal-header {
    padding: 20px 20px 0px;
    color: white;
    font-size: 15.5px;
    font-weight: 600;
    letter-spacing: 0.15px;
    filter: blur(0.2px);
    height: 40px;
}   
.ch-modal-header > div:last-of-type {
    margin-top: 2px;
    color: rgb(189, 189, 189);
    font-size: 12.5px;
    font-weight: 325;
    letter-spacing: 0.2px;
}
.ch-modal-type {
    padding: 20px 20px 0px;
    height: 130px;
}
.ch-modal-inp-div {
    height: 50px;
    padding: 20px 20px 50px;
}
.ch-modal-bottom {
    background-color: #2F3136;
    height: 50px;
    padding: 20px 20px 0px;
}
.ch-name-type {
    color: rgb(192, 194, 197);
    font-size: 12.5px;
    font-weight: 500;
    letter-spacing: 0.15px;
    margin-bottom: 8px;
    position: relative;
}
.ch-modal input {
    height: 25px;
    width: 380px;
    border:1px solid #202225;
    border-radius: 3px;
    background-color: #303237;
    outline: none;
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 300;
    color: white;
    padding: 5px 10px;
}
.ch-modal input:focus {
    border: 1px solid #7289DA;
    transition: 0.2s;
}
.ch-create-button {
    background-color: #7289DA;
    color: white;
    width: 120px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    padding: 10px 5px 0px;
    border-radius: 3px;
    margin-left: 250px;
}
.ch-type-text {
    background-color: green;
    width: 370px;
    margin-left: 0px;
    margin-bottom: 6px;
    padding: 12px 15px;
    border: 1px solid #202225;
    border-radius: 3px;
    background-color: #303237;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.ch-type-text svg {
    margin-right: 10px;
}
.ch-modal-type input {
    width: 401px;
    height: 45px;
    margin: 0px;
    position: absolute;
    left: 20px;
    opacity: 0;
}
.ch-modal-type input:checked + div {
    background-color: #7289DA;
    border: 1px solid #7289DA;
}
.ch-errors {
    margin-top: 10px;
    color: red;
    font-size: 13px;
    font-weight: 400;
}
