body {
    margin: 0px;
    height: 100%;
    
}
html {
    padding: 0px;
    background-color: rgb(38, 38, 43);
    height: 100%;
}
#root {
    height: 100%;
    background-color: rgb(38, 38, 43);
    min-width: 860px;
}
.root > div {
    height: 300px;
}
header {
    margin: 0px;
}
div {
    display: block;
    margin: 0px;
}
.app-div {
    height: 100vh;
    background-color: rgb(38, 38, 43);
}

/* (Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif) */

/* https://nntin.xyz/discord-logo/ */