.main-page {
    display: flex;
    height: 100vh;
}
.secondary {
    display: flex;
    width: 350px;
    margin: 0; 
    background-color: #2F3136;
}
.secondary .secondary-header {
    display: flex;
    box-shadow: 0px 0.5px 1px 0px rgb(28, 28, 28);
    color: white;
    height: 48px;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}

.secondary .secondary-header div {
    padding-top: 16px;
    margin: 0;
}
.third {
    /* background-color: #2F3036; */
    background-color:#34363c;
    margin: 0;
    width: 100%;
}
.third div {
    box-shadow: 0px 0.5px 1px 0px rgb(28, 28, 28);
    color: white;
    height: 48px;
    width: 100%;
}
.fourth {
    width: 240px;
}