.main-page {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100vh;
    width: 100vw;
    min-width: 860px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.primary {

    /* width: 70px;
    display: flex;
    background-color: #202225; */
    /* #16171a */
    /* flex-direction: column; */
    flex-grow: 0;
    flex-shrink: 0;

}








.secondary {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    width: 240px;
    margin: 0; 
    /* background-color: #2F3136; */
    background-color: #2F3037;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
    overflow: visible;
}
.secondary .secondary-header {
    display: flex;
    box-shadow: 0px 0.5px 1px 0px rgb(36, 36, 36);
    height: 57px;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}

.secondary .secondary-header .search-div {
    border: 1px solid rgb(33, 33, 33);
    background-color: #26262A;
    border-radius: 5px;
    margin: 7px 5px;
    width: 210px;
    height: 60%;

    display: flex;
    align-content: center;

    font-family: Helvetica;

    color: rgba(86, 86, 86, 0.897);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2px;
}
.secondary .secondary-header p {
    margin: 7.5px 9px;
}

.secondary .secondary-main {
    width: 100%;
    height: 100%;
}
.secondary .secondary-main ul {
    list-style: none;
}






.current-profile {
    background-color: rgba(32, 34, 37, 0.4);
    width: 100%;
    padding: 5px 0px 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.current-profile > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 93%;
}
.current-profile img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0;
}
.current-profile img:hover {
    animation: shake 100ms infinite 0s ease-in-out;
}
.current-profile .image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #7289DA;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.current-profile .u-info {
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;

}
.current-profile .u-info div:first-of-type{
    font-size: 15px;
    letter-spacing: 0.3px;
}
.current-profile .u-info div:last-of-type {
    color: gray;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    margin-left: 0px;
}
.icons {
    display: flex;
    width: 80px;
    justify-content: space-around;
}
.icons button {
    background-color: transparent;
    border: none;
    outline: none;
    color: gray;
}
.icons button:first-of-type:hover{
    cursor: help;
    color: white;
    transition: 1s;
} 
.icons button:last-of-type:hover{
    cursor: e-resize;
    color: red;
    transition: 1s;
} 


.invert > * {
    filter: invert(1);
}





@keyframes shake { 
    2% {transform:translate(.5px, 1.5px) rotate(1.5deg)} 
    4% {transform:translate(.5px, 1.5px) rotate(1.5deg)} 
    6% {transform:translate(-1.5px, -1.5px) rotate(-.5deg)} 
    8% {transform:translate(.5px, -.5px) rotate(.5deg)} 
    10% {transform:translate(.5px, 2.5px) rotate(.5deg)} 
    12% {transform:translate(2.5px, 1.5px) rotate(-.5deg)} 
    14% {transform:translate(-1.5px, 2.5px) rotate(-.5deg)} 
    16% {transform:translate(-.5px, .5px) rotate(.5deg)} 
    18% {transform:translate(.5px, 2.5px) rotate(1.5deg)} 
    20% {transform:translate(-.5px, -.5px) rotate(.5deg)} 
    22% {transform:translate(2.5px, .5px) rotate(-.5deg)} 
    24% {transform:translate(-1.5px, -1.5px) rotate(.5deg)} 
    26% {transform:translate(2.5px, -.5px) rotate(-.5deg)} 
    28% {transform:translate(1.5px, -.5px) rotate(.5deg)} 
    30% {transform:translate(.5px, .5px) rotate(-.5deg)} 
    32% {transform:translate(-1.5px, .5px) rotate(-.5deg)} 
    34% {transform:translate(.5px, 2.5px) rotate(-.5deg)} 
    36% {transform:translate(-.5px, -.5px) rotate(1.5deg)} 
    38% {transform:translate(-1.5px, -1.5px) rotate(.5deg)} 
    40% {transform:translate(-1.5px, 1.5px) rotate(1.5deg)} 
    42% {transform:translate(.5px, -1.5px) rotate(1.5deg)} 
    44% {transform:translate(.5px, .5px) rotate(.5deg)} 
    46% {transform:translate(-1.5px, -1.5px) rotate(1.5deg)} 
    48% {transform:translate(.5px, -1.5px) rotate(.5deg)} 
    50% {transform:translate(2.5px, .5px) rotate(-.5deg)} 
    52% {transform:translate(-.5px, 2.5px) rotate(-.5deg)} 
    54% {transform:translate(.5px, .5px) rotate(.5deg)} 
    56% {transform:translate(-1.5px, 2.5px) rotate(.5deg)} 
    58% {transform:translate(2.5px, .5px) rotate(.5deg)} 
    60% {transform:translate(-1.5px, 2.5px) rotate(.5deg)} 
    62% {transform:translate(1.5px, -.5px) rotate(-.5deg)} 
    64% {transform:translate(1.5px, -1.5px) rotate(1.5deg)} 
    66% {transform:translate(1.5px, -1.5px) rotate(-.5deg)} 
    68% {transform:translate(.5px, 2.5px) rotate(-.5deg)} 
    70% {transform:translate(1.5px, -1.5px) rotate(1.5deg)} 
    72% {transform:translate(1.5px, 1.5px) rotate(-.5deg)} 
    74% {transform:translate(-.5px, 1.5px) rotate(1.5deg)} 
    76% {transform:translate(1.5px, 2.5px) rotate(.5deg)} 
    78% {transform:translate(-.5px, .5px) rotate(.5deg)} 
    80% {transform:translate(-1.5px, 2.5px) rotate(.5deg)} 
    82% {transform:translate(.5px, 2.5px) rotate(-.5deg)} 
    84% {transform:translate(2.5px, -.5px) rotate(.5deg)} 
    86% {transform:translate(1.5px, .5px) rotate(.5deg)} 
    88% {transform:translate(-.5px, -1.5px) rotate(-.5deg)} 
    90% {transform:translate(1.5px, -.5px) rotate(1.5deg)} 
    92% {transform:translate(.5px, 2.5px) rotate(.5deg)} 
    94% {transform:translate(2.5px, .5px) rotate(-.5deg)} 
    96% {transform:translate(.5px, 2.5px) rotate(.5deg)} 
    98% {transform:translate(2.5px, -1.5px) rotate(1.5deg)} 
    0%,100% {transform:translate(0, 0) rotate(0)} 
}














.third {
    /* background-color: #2F3036; */
    background-color:#34363c;
    margin: 0;

    width: 100%;
}
.third .third-header {
    box-shadow: 0px 1px 1px 0px rgb(36, 36, 36);
    color: white;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
}
.fourth {
    width: 240px;
    flex-grow: 0;
    flex-shrink: 0;
}



@keyframes loadingAnimation{
    0%{
        transform: rotate(0deg);
        }
    25%{
        transform: rotate(180deg) scale(1.15);
        }
    50%{
        transform: rotate(360deg);
        }
    100%{
        transform: rotate(360deg);
        }
}

.loading {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50;
}
.loading > img {
    position: relative;
    width: 200px;
    height: 200px;
    animation: loadingAnimation 1.2s infinite 0s ease;
    left: calc(50% - 50px);
    top: calc(50% - 100px);
    z-index: 51;
}