.main-page {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100vh;
    width: 100vw;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.primary {
    overflow-y: scroll;
    width: 70px;
    display: flex;
    background-color: #1F2225;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: visible;
}








.secondary {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    width: 240px;
    margin: 0; 
    background-color: #2F3136;
    flex-direction: column;
}
.secondary .secondary-header {
    display: flex;
    box-shadow: 0px 0.5px 1px 0px rgb(36, 36, 36);
    height: 48px;
    width: 100%;
    align-content: center;
    justify-content: baseline;
    justify-content: space-around;
}

.secondary .secondary-header div {
    border: 1px solid rgb(33, 33, 33);
    background-color: #26262A;
    border-radius: 5px;
    margin: 7px 0px;
    width: 210px;
    height: 60%;

    display: flex;
    align-content: center;

    font-family: Helvetica;

    color: rgba(86, 86, 86, 0.897);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2px;
}
.secondary .secondary-header p {
    margin: 7.5px 9px;
}

.secondary .secondary-main {
    width: 100%;
}
.secondary .secondary-main ul {
    list-style: none;
    padding-left: 10px;
}

.secondary .current-profile {
    background-color: rgba(32, 34, 37, 0.4);
    width: 100%;
    padding: 0px 10px;
    color: white;
}
















.third {
    /* background-color: #2F3036; */
    background-color:#34363c;
    margin: 0;

    width: 100%;
}
.third div {
    box-shadow: 0px 1px 1px 0px rgb(36, 36, 36);
    color: white;
    height: 48px;
    width: 100%;
}
.fourth {
    width: 240px;
    flex-grow: 0;
    flex-shrink: 0;
}



@keyframes loadingAnimation{
    0%{
        transform: rotate(0deg);
        }
    25%{
        transform: rotate(180deg) scale(1.15);
        }
    50%{
        transform: rotate(360deg);
        }
    100%{
        transform: rotate(360deg);
        }
}

.loading {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
}
.loading img{
    position: relative;
    width: 200px;
    height: 200px;
    animation: loadingAnimation 1.2s infinite 0s ease;
    left: calc(50% - 50px);
    top: calc(50% - 100px);
}