.session-div {
    height: 100vh;
    background-image: url("/assets/y1ostvqnr4711-a54311ff26fac801ea1a33e0acca8276f13626ba9a9ae631bdc673f22f9f2729.jpg");
    display: flex;
    align-items: center;
}
.session-form {
    background-color: #36393f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.8);
    color: #72767d;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 400px;

}
@keyframes fadeIn{
    0%{
        transform: scale(1.075) translateX(5px) translateY(-30px);
        opacity: 0;
        }
    5%{
        transform: scale(1.05) translateX(3px) translateY(-20px);
        opacity: 0.6;
        }
    11%{
        transform: translateX(1px);
        opacity: 0.8;
        }
    39%{
        transform: translateY(20px);
        opacity: 1.0;
        }
    70%{
        transform: translateY(10px);
        opacity: 1.0;
        }
    100%{
        opacity: 1.0;
        }
}
@keyframes fadeOut{
    0%{
        opacity: 1.0;
        }
    5%{
        transform: translateY(10px);
        opacity: 1.0;
        }
    11%{
        transform: translateY(20px);
        opacity: 1.0;
        }
    39%{
        transform: translateX(1px);
        opacity: 0.8;
        }
    70%{
        transform: scale(1.05) translateX(3px) translateY(-20px);
        opacity: 0.6;
        }
    100%{
        transform: scale(1.075) translateX(5px) translateY(-30px);
        opacity: 0;
        }
}
.fade-in {
    animation: fadeOut 0.2s 1 0s ease-in;
}
.fade-out{
    animation: fadeOut 0.2s 1 0s ease-in;
}

.elementToAnimate{
    animation: yourAnimation 0.2s 1 0s ease-in;
}

.session-form > div:nth-of-type(1) {
    color: rgba(255, 255, 255, 0.75);
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 10px;
    /* text-shadow:
		-0.05px -0.05px 0 #727981,
		0.05px -0.05px 0 #727981,
		-0.05px 0.05px 0 #727981,
		0.05px 0.05px 0 #727981; */
}
.session-form > div:nth-of-type(2){
    color: #72767d;
}
.session-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.session-form .session-link, form a {
    color: rgba(114, 137, 218, 0.65);
    display: block;
    font-size: 12px;
    text-decoration: none;
    padding: 7px 0px 22px;
    font-weight: 500;
}
.session-form .form-last{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}
.session-form .form-last div{
    display: flex;
    font-size: 12px;
    font-weight: 250;
    text-decoration: none;
    padding: 3px 0px 0px;
    justify-content: left;
}
.session-form .form-last div p {
    margin: 0px 5px 0px 0px;
    height: 20px;
}
.session-form .form-last div button {
    margin-left: 5px;
    background-color: rgba(98, 105, 202, 0.836);
    border: none;
    color: rgba(255, 255, 255, 0.60);
    border-radius: 3px;
    height: 20px;
}
.session-form form input{
    border-radius: 3px;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 18px;
    padding: 10px;
    margin: 5px 0px 15px;
    width: 380px;
    height: 30px;
    color: #a5adb8;
}
.session-form form input:focus{
    border: 1px solid #7289DA;
    box-shadow: none;
    transition-duration: .15s;
    outline: 0;
}
.session-form form label {
    margin-top: 13px;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: bolder;
    color: #969696;
    /* text-shadow:
		-0.05px -0.05px 0 #727981,
		0.05px -0.05px 0 #727981,
		-0.05px 0.05px 0 #727981,
		0.05px 0.05px 0 #727981; */
}
.session-form .bad-label{
    color: red;
}
.session-form .bad-label strong{
    font-style: italic;
    font-weight: 250;
    font-size: 12px;
}
.session-form .bad-input{
    border-color: red;
}

.session-form .form-submit {
    background-color: rgba(98, 105, 202, 0.836);
    /* background-color: #738ADB; */
    color: rgba(255, 255, 255, 0.60);
    font-size: 17px;    
    font-weight: bold;
    width: 400px;
    height: 50px;
    padding: 10px;
}
.session-form .form-submit:hover {
    background-color: #7289dae1;
}
.session-form .session-link:last-of-type {
    padding: 0px 3px;
}