.session-form {
    background-color: #36393f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 70px 40px 40px 40px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    color: #72767d;
    font-size: 18px;
    width: 300px;
}