.splash-header {
    padding: 8px 0px;
    color: rgba(255, 255, 255, 0.384);
}
.splash-header .main-nav {
    display: flex;
    height: 56px;
    padding: 0px 30px;
    justify-content: space-between;
}
.left-nav {
    display: flex;
    flex-direction: row;
}
.left-nav div {
    padding: 15px 10px;
    margin-right: 8px;
}
.right-nav {
    display: flex;
    flex-direction: row;
}
.right-nav div {
    padding: 15px 10px;
}
.splash-header .splash-login-button {
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.384);
    background-color: transparent;
    padding: 5px 17px 7px;
    margin: 7px 0px;
    color: rgba(255, 255, 255, 0.384);
}
.splash-body {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 72px 50px 0px;
}
.splash-body h1, div {
    margin: 0 auto;
}

