.chatroom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 125px);
}
.active-typing {
    position: absolute;
    color: rgb(163, 163, 163);
    bottom: 108px;
    font-size: 12px;
    left: 22px;
    font-style: italic;
}
.message-list {
    overflow-y: auto;
    height: 100%;
    width: calc(100% - 40px);
    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    list-style: none;
}
.message-list::-webkit-scrollbar { 
    background-color: transparent;
}
.message-list::-webkit-scrollbar-thumb {
    background-color: rgb(45, 47, 53);
    border-radius: 5px;
    width: 1px;
}
.message-list { 
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.message {
    margin-top: 15px;
    border-top: 0.5px solid rgb(80, 80, 80);
    padding: 20px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.message > div {
    margin: 0;
}
.message-image {
    border-radius: 50%;
    overflow: hidden;
    height: 35px;
    width: 35px;
}
/* .message-image img {
    height: 30px;
    width: 30px;
    
} */
.message img {
    border-radius: 50%;
    height: 35px;
    margin-right: 15px;
}
.message-info {
    width: 100%;
}
.user-info {
    color: rgb(218, 218, 218);
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;

    display: flex;
    flex-direction: row;
}
.user-info > div:first-of-type{
    margin: 0;
}
.user-info > div:last-of-type{
    color: rgb(92, 92, 92);
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
    margin-top: 4px;
}
.message-info > div:last-of-type, .follow-message {
    color: rgb(194, 194, 194);
    font-size: 13px;
}



.follow-message {
    margin-left: 50px;
}






.message-div {
    width: calc(100% - 40px);
    padding: 0px 20px 20px 20px;

}

.message-form {
    border-top: 0.5px solid rgb(80, 80, 80);
    /* background-color: red; */
    width: 100%;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.message-form input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    background-color: #474C51;
    padding: 13px 8px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.7);
}